fastapi
uvicorn[standard]
faster-whisper
langchain
langchain-community
langchain-core
langgraph

langchain-google-genai

qdrant-client

sentence-transformers

yt-dlp
youtube-transcript-api
assemblyai
apify-client

deepgram-sdk

python-dotenv

sse-starlette
langchain-groq
pydantic

requests
tiktoken